services:
  api:
    build: ./nutriai/api
    container_name: nutriai_api
    ports:
      - "8000:8000"
    volumes:
      - ./nutriai/api:/app
    environment:
      - POSTGRES_HOST=postgres
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped

  streamlit:
    build: ./frontend
    container_name: nutriai_streamlit
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app
    environment:
      - POSTGRES_HOST=postgres
    env_file:
      - .env
    depends_on:
      - api
    restart: unless-stopped

  n8n:
    build: ./n8n-custom
    container_name: nutriai_n8n
    user: root
    working_dir: /app
    ports:
      - "5678:5678"
    volumes:
      - ./n8n-data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/app
    environment:
      - N8N_USER_MANAGEMENT_DISABLED=true
      - N8N_USER_FOLDER=/data
    env_file:
      - .env
    depends_on:
      - api
    restart: unless-stopped

  postgres:
    image: postgres:15-alpine
    container_name: nutriai_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  runner:
    build:
      context: .
      dockerfile: Dockerfile.scripts
    container_name: nutriai_runner
    command: tail -f /dev/null      # <-- CORREÇÃO APLICADA AQUI
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - .:/app

volumes:
  postgres_data: